.navbar{
    position:fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid gainsboro;
    width: 100vw;
    height: 50px;
    display: flex;
	justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}